@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}  

html,
body {
  padding: 0;
  margin: 0;
  font-family: interstate, sans-serif;
  font-weight: 500;
  background-color: #000;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;

}

h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 800;
}

p.text-mob {
  font-size: 11px;
  line-height: 21px;
}


/* desktop resize content */
@media screen and (min-width: 828px)and (max-width: 1227px) {

}
  @media (min-width: 1228px) {
    .content-second-panel {  
      p {
        font-size: 16px;
        line-height: 30px;
      }
  
    }
  }

  @media (min-width: 1228px) {

    .content-second-panel {
      h2 {
        font-size: 55px;
        line-height: 60px;
      }
      p {
        font-size: 16px;
        line-height: 30px;
      }
  
    }

  }

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.menu, .menu-btn {
  background-color: #414040; 
}

.menu-btn {
  width: 54px;
}

.dl-btn-mob { 
  background-color: #278eff;
  color:#fff;
}



