@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: interstate, sans-serif;
  font-weight: 500;
  background-color: #000;
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.menu, .menu-btn {
  background-color: #414040; 
}

.menu-btn {
  width: 54px;
}

.menu a {
  border-color: #908e8e;
}



.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background: #fff;
}

.hamburger-middle {
  transform: translateY(7px)
}
.hamburger-bottom {
  transform:  translateY(14px);
}

.dl-btn-mob { 
  background-color: #278eff;
  color:#fff;
}

.active {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.active .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.active .hamburger-middle {
  display: none;
}

.active .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}




/* h2 {
  font-family: interstate, sans-serif;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
