@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: interstate, sans-serif;
  font-weight: 500;
  background-color: #000;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;

}

h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 800;
}
/* desktop resize content */


@media screen and (min-width: 767.98px)and (max-width: 1227px) {
  .content {
    max-width: 47%;
    left:0;
    top: 10px;
  }

  .content-second-panel {
    max-width: 80%;
    right:50%;
    top:50%;
    transform: translate(-50%, -50%);

  }
  .system-logos {
    padding-bottom: 10px;
  }
  h2 {
    font-size: 28px;
    padding-bottom: 14px;
    }
  p {
    font-size: 14px;
    padding-bottom: 14px;
  }
  .cta {
    width: 40%;
    padding-bottom: 10px;
  }
  .apple {
    padding-right: 10px;
    width: 30%;
  }
  .google {
    width: 30%;
  }

  }

  @media (min-width: 1228px) {
    .content {
      max-width: 43%;
      left: 5%;
  
      h2 { 
        padding-bottom: 16px;
      }
      p { 
        padding-bottom: 14px;
      }
      
    }
    .content-second-panel {
      max-width: 40%;
      right:-18%;
      top:50%;
      transform: translate(-50%, -50%);
  
      h2 {
        font-size: 55px;
        line-height: 66px;
      }
      p {
        font-size: 16px;
        line-height: 30px;
      }
  
    }




  
    /* .apple, .google {
      width: 100%;
    } */
  
  }

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.menu, .menu-btn {
  background-color: #414040; 
}

.menu-btn {
  width: 54px;
}

.dl-btn-mob { 
  background-color: #278eff;
  color:#fff;
}



p.text-mob {
  font-size: 11px;
  line-height: 21px;
}
  
/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}  */
