@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: interstate, sans-serif;
  font-weight: 500;
  background-color: #000;
}

nav {
  background-color: #202020; 
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.menu, .menu-btn {
  background-color: #414040; 
}

.menu-btn {
  width: 54px;
}

.menu li {
  border-color: #908e8e;
}

/* .image-wrap {
  width: 100%;
}
  .image-wrap > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

 */

.dl-btn-mob { 
  background-color: #278eff;
  color:#fff;
}

.dl-btn-d {
  background-color: #500096;
}

/* h2 {
  font-family: interstate, sans-serif;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
