@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://use.typekit.net/njb4mad.css"); 


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: pointer;
}  

html,
body {
  padding: 0;
  margin: 0;
  font-family: interstate, sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #ffffff;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;

}

h2 {
  font-family: interstate, sans-serif;
  font-size: 30px;
  line-height: 37px;
  font-weight: 800;
}
p.space {
  margin-bottom:2.2rem;
}

p.text-mob {
  font-size: 11px;
  line-height: 21px;
}
.legal p, ol, ul {
  color: #444444;
} 

ol { 
  list-style-type: decimal; 
  list-style-position: inside;
  padding: 0 0 0 40px; 
  line-height: 1.75rem;
  padding-top: 1rem;
}
ol.lists, ul.lists> :last-child {
  margin-bottom:2.2rem;
}

ul.lists{
  list-style-position: inside;
  list-style: disc;
  padding: 0 0 0 40px; 
  line-height: 1.75rem;
  padding-top: 1rem;
}

.legal.ol, .legal.ul  {
  margin-bottom:0
}

// Slider
.carousel .control-prev.control-arrow:before {
  border: none !important;
  background-image: url(/img/left-arrow@2x.png);
  width: 33px; 
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel .control-next.control-arrow:before {
  border: none !important;
  background-image: url(/img/rightarrow@2x.png);
  width: 33px; 
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

.carousel .carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}
.carousel-root { 
  height: 100% !important;
}

.carousel.carousel-slider {
  display: flex;
  height: 100% !important;
}

.carousel .control-dots .dot {
  width: 13px !important;
  height: 13px !important;
  background-color:transparent !important;
  border:2px solid white;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  background-color:#fff !important;
}

@media (max-width: 828px) { 
  ol, ul.lists{
    line-height: 1.25rem;
    padding-left: 20px;
  }
}

/* desktop resize content */
@media (min-width: 1228px) {
  .content-second-panel {  
    p {
      font-size: 16px;
      line-height: 30px;
    }

  }
}

@media (min-width: 1228px) {

  .content-second-panel {
    h2 {
      font-size: 55px;
      line-height: 60px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
    }

  }

  }

/* Hamburger menu */
.menu, .menu-btn {
  background-color: #414040; 
}

.menu-btn {
  width: 54px;
  height: 54px;
}

.dl-btn-mob { 
  background-color: #278eff;
  color:#fff;
}



